@import url('reset.css');

@font-face {
    font-family: "Cera Pro";
    src: local("Cera Pro Bold"),
      url("/fonts/Fontspring-DEMO-cerapro-bold.otf") format("otf");
    font-weight: bold;
  }

  @font-face {
    font-family: "Cera Pro";
    src: local("Cera Pro Regular"),
      url("/fonts/Fontspring-DEMO-cerapro-regular.otf") format("otf");
    font-weight: normal;
  }
/* ------------------------------------------------   G E N E R A L   ------------------------------------------------ */
body {
    font-family: "Cera Pro", sans-serif;
}

.container {
    margin: 30px auto;
    max-width: 1200px;
}

.container-1230 {
    margin: 30px auto;
    max-width: 1230px;
}

.fnt-sz0 {
    font-size: 0px;
}

.fnt-green {
    color: #46A358;
}

.bg-green {
    background-color: #46A358;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.float-lf {
    float: left;
}

.float-rt {
    float: right;
}

.vrt-align-top {
    vertical-align: top;
}

.vrt-align-bottom {
    vertical-align: bottom;
}

.vrt-align-center {
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

/* ------------------------------------------------   M A I N   P A G E   ------------------------------------------------ */
.main-banner {
    background-color: #F5F5F580;
    height: 450px;
    margin-top: 12px;
}

.main-banner-img {
    width: 507px;
    display: inline-block;
    vertical-align: top;
}

.main-banner-img-small {
    width: 135px;
    height: 135px;
    display: inline-block;
    margin-top: -152px;
    margin-left: 55px;
}

.main-banner-text {
    display: inline-block;
    vertical-align: top;
    width: 692px;
}

.main-banner-text-blck1 {
    height: 225px;
    vertical-align: bottom;
    padding: 68px 0 0 40px;
}

.main-banner-text-blck2 {
    height: 225px;
    padding-left: 40px;
}

.main-banner-text-welcome {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 10%;
    text-transform: uppercase;
}

.main-banner-text-motto {
    color: #3D3D3D;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.main-banner-text-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #727272;
    width: 557px;
}

.main-banner-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #46A358;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    margin-top: 44px;
}

.header {
    height: 53px;
    border-bottom: 0.3px solid #46A35880;
}

.header-logo {
    width: 150px;
    height: 35px;
    text-align: left;
}

.header-menu {
    width: 950px;
    padding-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.header-menu a {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    height: 45px;
}

.header-menu a+a {
    margin-left: 50px;
}

.header-menu a:hover {
    border-bottom: 3px solid #46A358;
}

.header-menu a.active {
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.header-btn {
    width: 100px;
    height: 35px;
    background-color: #46A358;
    border-radius: 6px;
    padding: 7px 17px;
}

.header-btn a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.header-btn a+a {
    margin-left: 4px;
}

.header-btn a:hover,
.main-banner-btn:hover {
    cursor: pointer;
}


.header-btn img {
    width: 20px;
    height: 20px;
}

/* ------------------------------------------------   S H O P   P A G E   ------------------------------------------------ */
.whole-page {
    height: max-content;
}

.shop-left-part-categ-list a {
    text-decoration: none;
    color: #3D3D3D;
}

.shop-left-part-categ-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
}

.shop-left-part-categ-list {
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #3D3D3D;
    padding: 7px 0 0 12px;
}

.shop-left-part-categ-list .active,
.shop-left-part-categ-list a:hover {
    font-weight: 700;
    color: #46A358;
}

.shop-left-part {
    width: 370px;
}

.shop-left-part-categ {
    width: 310px;
    height: 774px;
    padding: 14px 0 0 18px;
    margin-left: 30px;
    background-color: #FBFBFB;
}

.shop-left-part-banner {
    width: 370px;
    height: 470px;
    object-fit: cover;
    vertical-align: bottom;
}

.shop-right-part {
    margin-left: 19px;
    width: 840px;
}

.shop-right-part-items {
    width: 840px;
    display: inline-block;
}

.shop-right-part-item {
    display: inline-block;
    vertical-align: top;
    width: 258px;
    height: 350px;
    border: 1px solid transparent;
    margin: 30px 28px 40px 0;
}

.shop-right-part-item:nth-of-type(3n) {
    margin-right: 0;
}

.shop-right-part-item:hover {
    border: 1px solid #46A358;
    cursor: pointer;
}

.shop-right-part-item-visual {
    background-color: #FBFBFB;
}

.shop-right-part-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    text-align: center;
}

.shop-right-part-item-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    padding: 12px 0 6px 0;
}

.shop-right-part-item-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #46A358;
}

.shop-right-part-head-sort {
    text-align: right;
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
}

.shop-right-part-head-filter a {
    margin-right: 40px;
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
}

.shop-right-part-head-filter .active,
.shop-right-part-head-filter a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #46A358;
    border-bottom: 2px solid #46A358;
    padding-bottom: 7px;
}

.footer-num-pages {
    text-align: right;
}

.footer-num-page-btn {
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 1px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #FFFFFF;
}

.footer-num-page-btn .active,
.footer-num-page-btn:hover {
    background-color: #46A358;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
}